{%extends "ClimaClassApplicationBundle::layout.html.twig"%}
{% block content %}
    <div id="reports">
        <div class="row">
            {%for report in pagination%}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="col-xs-12 cl-indicator">
                            <div class="col-xs-4">
                                <img src="{{asset('bundles/climaclassapplication/images/theme/Science_Thermometer_16.png')}}">
                                {%if report.lastMeasure is not null%}
                                    {{report.lastMeasure.temperature}}°C
                                {%else%}
                                    -
                                {%endif%}
                            </div>
                            <div class="col-xs-4">
                                <img src="{{asset('bundles/climaclassapplication/images/theme/Wind_sign_16.png')}}">
                                {%if report.lastMeasure is not null%}
                                    {{report.lastMeasure.windSpeed}} km/h
                                {%else%}
                                    -
                                {%endif%} 
                            </div>
                        </div>
                        <img width="242px" style="width:100%;display:block;height:200px" src="{{asset('bundles/climaclassapplication/images/report/'~thumbnail_image(report.content))}}">
                        <div class="caption">
                            <h3 id="thumbnail-label">{{report.title}}<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                            <p>{{ report.content|length > 40?report.content|striptags|slice(0, 40) ~ '...' : report.content|striptags  }}</p>
                        </div>
                        <div class="col-xs-12 square">
                            <div class="col-xs-6 col-xs-offset-3">
                                <a href="{{path('report',{'id':report.id})}}"><div class="button sbutton">Read</div></a>
                            </div>	
                        </div>
                    </div>
                </div> 
            {%endfor%}
        </div>
        <div class="row">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </div>

{% endblock %}