{%extends "ClimaClassApplicationBundle::layout.html.twig"%}

{% block title %}Administration{% endblock %}

{% block content %}
    
	
	<div class="repport col-xs-12">
		<div class="row">
			<div class="col-xs-12 green" style="margin-bottom: 10px;">
				<h1><img src="{{asset('bundles/climaclassapplication/images/theme/User_shape_32.png')}}"> Administration</h1>
			</div>

			<div class="col-xs-12" style="margin-bottom: 15px;">
				<a href="#" data-width="500" data-rel="popup1" class="poplight"><div class="buttong">Add a user</div></a>
			</div>

			<div class="col-xs-12">
				<div class="blue col-xs-12">
					<h3><img src="{{asset('bundles/climaclassapplication/images/theme/User_Avatar_Main_Picture_32.png')}}"> Conversations</h3>
				</div>
				<div class="col-xs-12 grey">
				{{ render(controller('ClimaClassApplicationBundle:Message:listPrivateMessageAdmin')) }}
				</div>
			</div>
		</div>
	</div>
	{% render controller("FOSUserBundle:Registration:register") %}
	
	
	<nav id="pagination">
	  <ul class="pagination">
		<li>
		  <a href="#" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		  </a>
		</li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li>
		  <a href="#" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		  </a>
		</li>
	  </ul>
	</nav>
    
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="{{asset('bundles/climaclassapplication/js/modal_box.js')}}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<script>

		function gMapInitialize(){
			var addressInput = document.getElementById("fos_user_registration_form_address");
			var latitudeInput = document.getElementById("fos_user_registration_form_latitude");
			var longitudeInput = document.getElementById("fos_user_registration_form_longitude");
			var searchInput = document.getElementById("pac-input");	
			var mapCanvas = document.getElementById("gmap");
			
			var markers = [];
			
			var mapOptions = {
				center: new google.maps.LatLng(48.858859, 2.3470599),
				zoom: 13,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			
			var map = new google.maps.Map(mapCanvas, mapOptions);
			var searchBox = new google.maps.places.SearchBox(searchInput);
			
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(searchInput);
			
			google.maps.event.addListener(searchBox, 'places_changed', function() {
				var places = searchBox.getPlaces();

				if (places.length == 0) {
					return;
				}
				
				for (var i = 0, marker; marker = markers[i]; i++) {
					marker.setMap(null);
					marker = null;
				}

				markers = [];
				var lat;
				var lng;
				var address;
				
				for (var i = 0, place; place = places[i]; i++) {
				
					var marker = new google.maps.Marker({
						map: map,
						title: place.name,
						position: place.geometry.location
					});
					
					console.log(place);
					console.log("Adresse: " + place.formatted_address);
					console.log("Latitude: " + place.geometry.location.lat());
					console.log("Longitude: " + place.geometry.location.lng());
					
					address = place.formatted_address;
					lat = place.geometry.location.lat();
					lng = place.geometry.location.lng();
					markers.push(marker);
				}
				
				map.panTo(new google.maps.LatLng(lat, lng))
				map.setZoom(15);
				
				addressInput.value = address;
				latitudeInput.value = lat;
				longitudeInput.value = lng;
			});
		}
	</script>
{% endblock %}