{% trans_default_domain 'FOSUserBundle' %}

{#
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Email'}}) }}
    
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>#}


<!-- MODAL START-->
	<div id="popup1" class="popup_block">
		<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
			<div class="users form">
			
				<fieldset>
					<legend>
					   Add a user
					</legend>

				</fieldset>
				<div class="blue col-xs-12">
					<h3><img src="{{asset('bundles/climaclassapplication/images/theme/Locked_padlock_32.png')}}"> Informations</h3>
				</div>
				<div class="col-xs-12 grey">
					<div class="col-xs-6">
						{{form_widget(form.email, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Email'}})}}
					</div>
					<div class="col-xs-6">
						{{form_widget(form.username, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Username'}})}}
					</div>
					<div class="col-xs-6">
						{{form_widget(form.plainPassword.first, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Password'}})}}
					</div>
					<div class="col-xs-6">
						{{form_widget(form.plainPassword.second, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Confirm Password'}})}}
					</div>
					<div class="col-xs-6">
						{{form_widget(form.lastname, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Lastname'}})}}
					</div>
					<div class="col-xs-6">
						{{form_widget(form.firstname, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Firstname'}})}}
					</div>
					<div class="col-xs-6">
						{{form_widget(form.establishment, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Establishment'}})}}
					</div>
					<div class="col-xs-6">					
						{{form_widget(form.class, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Class'}})}}
					</div>
					<div class="col-xs-6">
						{{form_widget(form.address, {'attr': {'class': 'form-control greyInput', 'placeholder' : 'Address'}})}}
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Main language:</label>	
							{{form_widget(form.main_language, {'attr': {'class': 'form-control'}})}}
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Language:</label>	
							{{form_widget(form.languages, {'attr': {'class': 'form-control'}})}}
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Roles:</label>	
							{{form_widget(form.roles[0], {'attr': {'class': 'form-control'}})}}
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<input id="pac-input" class="controls" type="text" placeholder="Search Box">
					<div class="row" id="gmap" style="height: 200px;">					
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<input type="submit" class="buttong col-xs-12" value="Add" />
					</div>
				</div>
			</div>
		</form>		
	</div>
	<!-- MODAL END-->