<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Titre de la page</title>
        <link rel="stylesheet" href="{{asset('bundles/climaclassapplication/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/climaclassapplication/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/climaclassapplication/css/ui/trumbowyg.min.css')}}">
		<script src="{{asset('bundles/climaclassapplication/js/jquery-1.11.3.min.js')}}"></script>
        <script src="{{asset('bundles/climaclassapplication/js/bootstrap.min.js')}}"></script>
		
<!-- Vérifier si utile
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
-->
        <style>
            p {
                color: black !important;
            }
        </style>
    </head>
    <body >
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('index')}}"><img src="{{asset('bundles/climaclassapplication/images/theme/logo.png')}}"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active" style="margin-right: 10px;"><p><div class="buttong"><a href="" >Compare</a></div></p></li>
                        <li><p><div class="buttong"><a href="">Compare</a></div></p></li>

                    </ul>

                    {%if app.user is null%}
                        {% render controller("FOSUserBundle:Security:login") %}
                    {%else%}
                        <a href="{{ path('fos_user_security_logout') }}" class="navbar-right btn btn-primary navbar-btn">Logout</a>
                        <a href="#" class="navbar-right btn btn-success navbar-btn" style="margin-right: 10px;"><span class="glyphicon glyphicon-user"></span>{{app.user.lastname}} {{app.user.firstname}}</a>
                    {%endif%}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container" role="main">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="col-xs-12">
            <div class="container">
                <div class="col-md-4">
                    <h3>Informations</h3>
                    <ul>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Informations</h3>
                    <ul>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Informations</h3>
                    <ul>
                        <li>lorem ipsum</li>
                        <li>lorem ipsum</li>
                    </ul>
                </div>
            </div>
            <img src="{{asset('bundles/climaclassapplication/images/theme/UNESCO2.png')}}">
        </footer>
		
<!--
	TODO(adrien): Enlever trumbowyg de la page d'accueil. Ne l'importer que sur le pages nécessaire.
-->
        <script src="{{asset('bundles/climaclassapplication/js/trumbowyg.min.js')}}"></script>
        <script>
            (function ($) {
                'use strict';

                addXhrProgressEvent();

                $.extend(true, $.trumbowyg, {
                    langs: {
                        en: {
                            upload: "Upload",
                            file: "File",
                            uploadError: "Error"
                        },
                        sk: {
                            upload: "Nahrať",
                            file: "Súbor",
                            uploadError: "Chyba"
                        },
                        fr: {
                            upload: "Envoi",
                            file: "Fichier",
                            uploadError: "Erreur"
                        },
                        cs: {
                            upload: "Nahrát obrázek",
                            file: "Soubor",
                            uploadError: "Chyba"
                        }
                    },
                    upload: {
                        serverPath: '{{asset('bundles/climaclassapplication/libraries/trumbowyg.upload.php')}}'
                    },
                    opts: {
                        btnsDef: {
                            upload: {
                                func: function (params, tbw) {
                                    var file,
                                            pfx = tbw.o.prefix;

                                    var $modal = tbw.openModalInsert(
                                            // Title
                                            tbw.lang.upload,
                                            // Fields
                                                    {
                                                        file: {
                                                            type: 'file',
                                                            required: true
                                                        },
                                                        alt: {
                                                            label: 'description'
                                                        }
                                                    },
                                            // Callback
                                            function () {
                                                var data = new FormData();
                                                data.append('fileToUpload', file);

                                                if ($('.' + pfx + 'progress', $modal).length === 0)
                                                    $('.' + pfx + 'modal-title', $modal)
                                                            .after(
                                                                    $('<div/>', {
                                                                        'class': pfx + 'progress'
                                                                    })
                                                                    .append(
                                                                            $('<div/>', {
                                                                                'class': pfx + 'progress-bar'
                                                                            })
                                                                            )
                                                                    );

                                                $.ajax({
                                                    url: $.trumbowyg.upload.serverPath,
                                                    type: 'POST',
                                                    data: data,
                                                    cache: false,
                                                    dataType: 'json',
                                                    processData: false,
                                                    contentType: false,
                                                    progressUpload: function (e) {
                                                        $('.' + pfx + 'progress-bar').stop().animate({
                                                            width: Math.round(e.loaded * 100 / e.total) + '%'
                                                        }, 200);
                                                    },
                                                    success: function (data) {
                                                        if (data.message == "uploadSuccess") {
                                                            tbw.execCmd('insertImage', data.file);
                                                            setTimeout(function () {
                                                                tbw.closeModal();
                                                            }, 250);
                                                        } else {
                                                            tbw.addErrorOnModalField(
                                                                    $('input[type=file]', $modal),
                                                                    tbw.lang[data.message]
                                                                    );
                                                        }
                                                    },
                                                    error: function () {
                                                        tbw.addErrorOnModalField(
                                                                $('input[type=file]', $modal),
                                                                tbw.lang.uploadError
                                                                );
                                                    }
                                                });
                                            }
                                            );

                                            $('input[type=file]').on('change', function (e) {
                                                try {
                                                    // If multiple files allowed, we just get the first.
                                                    file = e.target.files[0];
                                                } catch (err) {
                                                    // In IE8, multiple files not allowed
                                                    file = e.target.value;
                                                }
                                            });
                                        },
                                ico: 'insertImage'
                            }
                        }
                    }
                });


                function addXhrProgressEvent() {
                    if (!$.trumbowyg && !$.trumbowyg.addedXhrProgressEvent) {   // Avoid adding progress event multiple times
                        var originalXhr = $.ajaxSettings.xhr;
                        $.ajaxSetup({
                            xhr: function () {
                                var req = originalXhr(),
                                        that = this;
                                if (req && typeof req.upload == "object" && that.progressUpload !== undefined)
                                    req.upload.addEventListener("progress", function (e) {
                                        that.progressUpload(e);
                                    }, false);

                                return req;
                            }
                        });
                        $.trumbowyg.addedXhrProgressEvent = true;
                    }
                }
            })(jQuery);
        </script>     
    </body>
</html>