{%extends "ClimaClassApplicationBundle::layout.html.twig"%}
{% block content %}
    <p>{{conversation.subject}}</p>
    <p>Contributors : <p>{%if conversation.userCreator is not null %}{{conversation.userCreator.lastname}} {{conversation.userCreator.firstname}}{%else%} Anonymous {%endif%} and {%if conversation.userRecipient is not null%}{{conversation.userRecipient.lastname}} {{conversation.userRecipient.firstname}}{%else%} Admin {%endif%}</p>

    
        {%for message in pagination%}
            <p>{%if message.user is not null%}{{message.user.lastname}} {{message.user.firstname}}{%else%} Anonymous {%endif%}<br />{{message.body}}<br />{{message.postDate|date('Y-m-d H:i:s')}}</p>
        {%endfor%}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {%if app.user is not null %}
        {{form(form)}}
    {%endif%}

{% endblock %}