{%extends "ClimaClassApplicationBundle::layout.html.twig"%}
{% block content %}
	<div class="repport col-xs-12">
		<div class="row">
			<div class="col-xs-12 green" style="margin-bottom: 10px;">
				<h1><img src="{{asset('bundles/climaclassapplication/images/theme/Speech_bubble_with_text_lines_32.png')}}"> {{conversation.subject}}</h1>
			</div>


			<div class="col-xs-12">
				<div class="blue col-xs-12">
					<h3><img src="{{asset('bundles/climaclassapplication/images/theme/User_Avatar_Main_Picture_32.png')}}"> {%if conversation.userCreator is not null %}<a href="{{path('profile',{'id':conversation.userCreator.id})}}">{{conversation.userCreator.lastname}} {{conversation.userCreator.firstname}}</a>{%else%} Anonymous {%endif%} and {%if conversation.userRecipient is not null%}<a href="{{path('profile',{'id':conversation.userRecipient.id})}}">{{conversation.userRecipient.lastname}} {{conversation.userRecipient.firstname}}</a>{%else%} Admin {%endif%}</h3>
				</div>
				<div class="col-xs-12 grey">
					{%for message in pagination%}				
					{%if message.user == app.user%}				
					<div class="col-xs-12 comment conversation">
						<div class="row">
							<div class="col-md-1 nopadding"><img class="avatar" width="88" height="88" src="{{asset('bundles/climaclassapplication/images/users/'~message.user.picture)}}"></div>
							<div class="col-xs-11 nopadding conversation-back">
								<p>{{message.body}}</p>
								<p>{{message.postDate|date('Y-m-d')}} - <strong>{%if message.user is not null%}{{message.user.lastname}} {{message.user.firstname}}{%else%} Anonymous {%endif%}</strong></p>							
							</div>
						</div>
					</div>
					{%else%}
					<div class="col-xs-12 comment conversation left">
						<div class="row">
							<div class="col-xs-11 nopadding conversation-back">
								<p>{{message.body}}</p>
								<p>{{message.postDate|date('Y-m-d')}} - <strong>{%if message.user is not null%}{{message.user.lastname}} {{message.user.firstname}}{%else%} Anonymous {%endif%}</strong></p>							
							</div>
							<div class="col-md-1 nopadding"><img class="avatar" width="88" height="88" src="{{asset('bundles/climaclassapplication/images/users/'~message.user.picture)}}"></div>
						</div>
					</div>
					{%endif%}
					{%endfor%}
				</div>
			</div>
		</div>
	</div>
	
	{%if app.user is not null %}
	{{form_start(form)}}
	<div class="col-xs-12 conversation-area">
		<div class="row">
			{{form_widget(form.body, {'attr' :{'class': 'form-control', 'rows' : '6', 'placeholder' : 'Your message'}})}}
		</div>
	</div>
	
	<div class="col-xs-12" style="margin-bottom: 15px;">
		<div class="row">
			{{form_widget(form.Send, {"attr" : {"class" : "buttong save col-xs-12"}})}}
		</div>
	</div>
	{{form_end(form)}}
    {%endif%}
	
	<div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}