{%extends "ClimaClassApplicationBundle::layout.html.twig"%}
{% block content %}
    <p>{{conversation.subject}}</p>
    <p>Contributors : <p>{%if conversation.userCreator is not null %}{{conversation.userCreator.lastname}} {{conversation.userCreator.firstname}}{%else%} Anonymous {%endif%} and {{conversation.userRecipient.lastname}} {{conversation.userRecipient.firstname}}</p>
    
    <p>{%if conversation.messages[0].user is not null%} {{conversation.messages[0].user.lastname}} {{conversation.messages[0].user.firstname}}{%else%} Anonymous {%endif%}<br />{{conversation.messages[0].body}}<br />{{conversation.messages[0].postDate|date('Y-m-d H:i:s')}}</p>
    {%for message in conversation.messages%}
        {%if loop.index0 != 0%}
            <p>{%if message.user is not null%}{{message.user.lastname}} {{message.user.firstname}}{%else%} Anonymous {%endif%}<br />{{message.body}}<br />{{message.postDate|date('Y-m-d H:i:s')}}</p>
        {%endif%}
    {%endfor%}

    {%if app.user is not null %}
        {{form(form)}}
    {%endif%}
    
{% endblock %}