{%extends "ClimaClassApplicationBundle::layout.html.twig"%}

{% block title %}Profile of {{class.class}}{% endblock %}

{% block content %}	
    <div class="repport col-xs-12">
        <div class="row">
            <div class="col-xs-12 green" style="margin-bottom: 10px;">
                <div class="col-xs-9"><h1><img src="{{asset('bundles/climaclassapplication/images/theme/School_32.png')}}"> Profile {{class.class}}</h1></div>
                <div class="col-xs-3">
                    {%if app.user is not null%}{%if app.user.id != id %}				
                        <p><img src="{{asset('bundles/climaclassapplication/images/theme/Message_Closed_Envelope_32.png')}}"> <a class="send" href="{{path('new_conversation',{'id_recipient':class.id})}}">Send a message</a></p>
                    {%endif%}{%endif%}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="blue col-xs-12">
                            <h3><img src="{{asset('bundles/climaclassapplication/images/theme/Locked_padlock_32.png')}}"> School info</h3>
                        </div>
                        <div class="col-xs-12 grey">
							<div class="col-xs-2" style="margin-top: 10px;">
								<img src="{{asset('bundles/climaclassapplication/images/theme/Image_Archive_80.png')}}">
							</div>
							<div class="col-xs-10">
								<div class="col-xs-6">	
									<select class="form-control greyInput" multiple disabled style="cursor: default; margin-bottom: 10px;">
										<option style="color: #00a8ff">{{class.mainLanguage.language}}</option>
										{%for language in class.languages%}
											{% if language.language != class.mainLanguage.language%}
												<option>{{language.language}}</option>
											{%endif%}
										{%endfor%}
									</select>
								</div>
								<div class="col-xs-6">
									<input type="text" class="form-control greyInput" value="{{class.lastname}}" disabled style="cursor: default;">
								</div>
								<div class="col-xs-6">	
									<input type="text" class="form-control greyInput" value="{{class.firstname}}" disabled style="cursor: default;">
								</div>
							</div>
							<div class="col-md-12" style="margin-bottom: 10px; margin-top: 10px;">
								<textarea class="form-control" rows="3" disabled style="cursor: default;">{{class.description}}</textarea>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6"><div class="col-xs-12" id="gmap" style="height: 250px"></div></div>
                </div>
            </div>

           {%for report in pagination%}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="col-xs-12 cl-indicator">
                            <div class="col-xs-4">
                                <img src="{{asset('bundles/climaclassapplication/images/theme/Science_Thermometer_16.png')}}">
                                {%if report.lastMeasure is not null%}
                                    {{report.lastMeasure.temperature}}°C
                                {%else%}
                                    -
                                {%endif%}
                            </div>
                            <div class="col-xs-4">
                                <img src="{{asset('bundles/climaclassapplication/images/theme/Wind_sign_16.png')}}">
                                {%if report.lastMeasure is not null%}
                                    {{report.lastMeasure.windSpeed}} km/h
                                {%else%}
                                    -
                                {%endif%} 
                            </div>
                        </div>
                        <img width="242px" style="width:100%;display:block;height:200px" src="{{asset('bundles/climaclassapplication/images/report/'~thumbnail_image(report.content))}}">
                        <div class="caption">
                            <h3 id="thumbnail-label">{{report.title}}<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                            <p>{{ report.content|length > 40?report.content|striptags|slice(0, 40) ~ '...' : report.content|striptags  }}</p>
                        </div>
                        <div class="col-xs-12 square">
                            <div class="col-xs-6 col-xs-offset-3">
                                <a href="{{path('report',{'id':report.id})}}"><div class="button sbutton">Read</div></a>
                            </div>	
                        </div>
                    </div>
                </div> 
            {%endfor%}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
			
			<div class="col-xs-12">
                <div id="temperatureGraph"></div>
                <div id="rainGraph"></div>
                <div id="windGraph"></div>
            </div>
        </div>
		
		{{dump(tabtemp)}}
		{{dump(tabwind)}}
		{{dump(tabrain)}}
		{{dump(start_month)}}
    {% endblock %}
	
	
	
    {% block javascripts %}
        {{parent()}}
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="{{asset('bundles/climaclassapplication/js/highcharts-custom.js')}}"></script>
        <script>
                    google.maps.event.addDomListener(window, 'load', gMapInitialize);
                    function gMapInitialize(){
                    var mapCanvas = document.getElementById("gmap");
                            var markers = [];
                            var mapOptions = {
								center: new google.maps.LatLng({{class.latitude}}, {{class.longitude}}),
                                zoom: 14,
								streetViewControl: false,
								panControl: false,
								mapTypeControl: false,
								overviewMapControl: false,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            var map = new google.maps.Map(mapCanvas, mapOptions);
                            var marker = new google.maps.Marker({
									map: map,
                                    title: "{{class.class}}",
                                    position: new google.maps.LatLng({{class.latitude}}, {{class.longitude}})
                            });
                    }
        </script>
        <script type="text/javascript">	
			{% set months = ['January','February','March','April','May','June','July','August','September','October','November','December'] %}
			
            $(function () {
				$('#temperatureGraph').css("height", "300px").highcharts({
					title: {
						text: 'Temperature',
						x: - 20
					},
					xAxis: {
						type : 'datetime',
						dateTimeLabelFormats: {
							day: '%e %b %y',
							month: '%b %y'
						},
					},
					yAxis: {
						title: {
							text: 'Temperature (°C)'
						}
					},
					tooltip: {
						headerFormat: '<p style="font-size:10px">{point.key}</p><br />',
						pointFormat: 	'<table>' +
											'<tr>' +
												'<td>{series.name}: </td>' +
												'<td><b>{point.y:.1f}°C</b></td>' +
											'</tr>' +
										'</table>',
						shared: true
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
					},
					plotOptions: {
						series: {
							pointStart: Date.UTC(2010, 0, 1) // 1 jour de start_month
						}
					},
					series: [{
						name: "Temperature",
						data: [
							[Date.UTC(1970, 9, 21), 0],
							[Date.UTC(1970, 10, 4), 0.28],
							[Date.UTC(1970, 10, 9), 0.25],
							[Date.UTC(1970, 10, 27), 0.2],
							[Date.UTC(1970, 11, 2), 0.28],
							[Date.UTC(1970, 11, 26), 0.28],
							[Date.UTC(1970, 11, 29), 0.47],
							[Date.UTC(1971, 0, 11), 0.79],
							[Date.UTC(1971, 0, 26), 0.72],
							[Date.UTC(1971, 1, 3), 1.02],
							[Date.UTC(1971, 1, 11), 1.12],
							[Date.UTC(1971, 1, 25), 1.2],
							[Date.UTC(1971, 2, 11), 1.18],
							[Date.UTC(1971, 3, 11), 1.19],
							[Date.UTC(1971, 4, 1), 1.85],
							[Date.UTC(1971, 4, 5), 2.22],
							[Date.UTC(1971, 4, 19), 1.15],
							[Date.UTC(1971, 5, 3), 0]
						]
					}]
				});
				
				$('#rainGraph').css("height", "300px").highcharts({
					chart: {
						type: 'column'
					},
					title: {
						text: 'Rain Level'
					},
					xAxis: {
						categories: ['January','February','March','April','May','June','July','August','September','October','November','December'],
						crosshair: true
					},
					yAxis: {
						min: 0,
						title: {
							text: 'Rain Level (mm)'
						}
					},
					tooltip: {
						headerFormat: '<p style="font-size:10px">{point.key}</p><br />',
						pointFormat: 	'<table>' +
											'<tr>' +
												'<td>{series.name}: </td>' +
												'<td><b>{point.y} mm</b></td>' +
											'</tr>' +
										'</table>',
						shared: true
					},				
					plotOptions: {
						column: {
							pointPadding: 0.2,
							borderWidth: 0
						}
					},
					series: [{
						name: 'Rain Level',
						data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

					}]
				});
				
				$('#windGraph').css("height", "500px").highcharts({
					chart: {
						polar: true
					},
					title: {
						text: 'Wind'
					},
					pane: {
						startAngle: 0,
						endAngle: 360
					},
					xAxis: {
						tickInterval: 45,
						min: 0,
						max: 360,
						labels: {
							formatter: function () {
								return this.value + '°';
							}
						}
					},
					yAxis: {
						min: 0
					},					
					tooltip: {
						headerFormat: '<p style="font-size:10px">{point.key}</p><br />',
						pointFormat: 	'<table>' +
											'<tr>' +
												'<td>Speed: </td>' +
												'<td><b>{point.y:.1f} km/h</b></td>' +
											'</tr>' +
											'<br/>' +
											'<tr>' +
												'<td>Direction: </td>' +
												'<td><b>{point.x}°</b></td>' +
											'</tr>' +
										'</table>',
						shared: true
					},					
					series: [{
						type: 'line',
						name: 'Wind',
						lineWidth : 0,
						states: {
							hover:{
								enabled : false,
							}
						},
						data:[
						{%for w in tabwind%}
							{
								name:"{{w.date}}",
								x:{{w.direction}},y:{{w.speed}}
							}
							{%if not loop.last%}
							,
							{%endif%}
						{%endfor%}
						]
					}]
				});			
            });
        </script>
    {% endblock %}