{%extends "ClimaClassApplicationBundle::layout.html.twig"%}
{% block content %}
    <p>Profil - Class of {{class.class}} {%if app.user.id != id %} <a href="#">Send private message</a> {%endif%}</p>
    
    <p>School info</p>
    <p>{{class.lastname}} {{class.firstname}}</p>
    <p>{{class.description}}</p>
    <br>
    <p>{{class.latitude}} {{class.longitude}}</p>
    <ul>
        <li style="color: blue">{{class.mainLanguage.language}}</li>
    {%for language in class.languages%}
        {% if language.language != class.mainLanguage.language%}
            <li>{{language.language}}</li>
        {%endif%}
    {%endfor%}
    </ul>
    <br>
    <ul>
    {%for report in class.reports%}
        <li>{{report.title}} <a href="{{path('report',{'id': report.id})}}">Read</a></li>
    {%endfor%}
    </ul>
{% endblock %}