{%extends "ClimaClassApplicationBundle::layout.html.twig"%}
{% block content %}
    {#{form_start(form)}}
	
		{{form_label(form.title)}}
		{{form_errors(form.title)}}
		{{form_widget(form.title)}}
		
		{{form_label(form.content)}}
		{{form_errors(form.content)}}
		{{form_widget(form.content)}}
		
	{{form_end(form)}#}
	
	{{form(form)}}
       
    <script>
        $(document).ready(function () {            
            
            $('#climaclass_applicationbundle_report_content').trumbowyg({
                btnsDef: {
                    image: {
                        dropdown: ['insertImage', 'upload'],
                        ico: 'insertImage'
                    }
                },
                btns: ['viewHTML',
                    '|', 'formatting',
                    '|', 'btnGrp-semantic',
                    '|', 'link',
                    '|', 'image',
                    '|', 'btnGrp-justify',
                    '|', 'btnGrp-lists',
                    '|', 'horizontalRule']
            });


            var $containerMeasure = $('div#climaclass_applicationbundle_report_measures');

            var $addLinkMeasure = $('<a href="#" id="add_measure" class="btn btn-default">Add new measures</a>');
            $containerMeasure.append($addLinkMeasure);

            $addLinkMeasure.click(function (e) {
                addCategoryMeasure($containerMeasure);
                e.preventDefault();

                return false;
            });

            var indexMeasure = $containerMeasure.find(':input').length;
            
            if (indexMeasure == 0) {
                $containerMeasure.children('div').each(function () {
                    addDeleteLinkMeasure($(this));
                });
            }

            function addCategoryMeasure($containerMeasure) {
                var $prototype = $($containerMeasure.attr('data-prototype').replace(/__name__label__/g, 'Measure n°' + (indexMeasure + 1)).replace(/__name__/g, indexMeasure));

                addDeleteLinkMeasure($prototype);
                $containerMeasure.append($prototype);

                indexMeasure++;
            }

            function addDeleteLinkMeasure($prototype) {
                $deleteLink = $('<a href="#" class="btn btn-danger">Delete</a>');

                $prototype.append($deleteLink);

                $deleteLink.click(function (e) {
                    $prototype.remove();
                    e.preventDefault();

                    return false;
                });
            }
            
            /****************************************************************************************/
            
            var $containerVideo = $('div#climaclass_applicationbundle_report_videos');

            var $addLinkVideo = $('<a href="#" id="add_video" class="btn btn-default">Add new video</a>');
            $containerVideo.append($addLinkVideo);

            $addLinkVideo.click(function (e) {
                addCategoryVideo($containerVideo);
                e.preventDefault();

                return false;
            });

            var indexVideo = $containerVideo.find(':input').length;
            
            if (indexVideo != 0) {
                $containerVideo.children('div').each(function () {
                    addDeleteLinkVideo($(this));
                });
            }

            function addCategoryVideo($containerVideo) {
                var $prototype = $($containerVideo.attr('data-prototype').replace(/__name__label__/g, 'Video n°' + (indexVideo + 1)).replace(/__name__/g, indexVideo));

                addDeleteLinkVideo($prototype);
                $containerVideo.append($prototype);

                indexVideo++;
            }

            function addDeleteLinkVideo($prototype) {
                $deleteLink = $('<a href="#" class="btn btn-danger">Delete</a>');
                
                $prototype.append($deleteLink);

                $deleteLink.click(function (e) {
                    $prototype.remove();
                    e.preventDefault();

                    return false;
                });
            }
           
        });
    </script>
	
	<script src="{{asset('bundles/climaclassapplication/js/trumbowyg.min.js')}}"></script>
    <script src="{{asset('bundles/climaclassapplication/js/plugin/upload/trumbowyg.upload.js')}}"></script> 
    
{% endblock %}