{% macro prototype(measure) %}
    <div class="indicators_back col-md-2">
        <div class="has-success">
            <label class="control-label" for="inputSuccess1">Rain</label>
            {{form_widget(measure.rainLevel, {'attr': {'class': 'form-control', 'placeholder' : 'Your Measures here !'} })}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="has-success">
            <label class="control-label" for="inputSuccess1">Temperature</label>
            {{form_widget(measure.temperature, {'attr': {'class': 'form-control', 'placeholder' : 'Your Measures here !'} })}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="has-success">
            <label class="control-label" for="inputSuccess1">Wind</label>
            {{form_widget(measure.windSpeed, {'attr': {'class': 'form-control', 'placeholder' : 'Your Measures here !'} })}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="has-success">
            <label class="control-label" for="inputSuccess1">Wind direction</label>
            {{form_widget(measure.windDirection, {'attr': {'class': 'form-control', 'placeholder' : 'Your Measures here !'} })}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="has-success">
            <label class="control-label" for="inputSuccess1">Date</label>	
            {{form_widget(measure.measurementDate, {'attr': {'class': 'form-control', 'placeholder' : 'Your Measures here !'} })}}
        </div>
    </div>
    
{% endmacro %}